<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Reservacion de viaje">
  <ion-content class="padding">
    
    <form name="agregarForm" novalidate>
    <div class="list">
    <label class="item item-input">
      <span class="input-label">Lugar de Origen</span>
      <input type="text" name="origen"  ng-model="persona[0].origen" required>
   </label>
   
   <label class="item item-input">
      <span class="input-label">Lugar de destino</span>
      <input type="text" name="destino" ng-model="persona[0].destino" required>
   </label>
   
    <label class="item item-input">
      <span class="input-label">Fecha de inicio</span>
      <input type="date" name="fechain" ng-model="persona[0].fechain" required>
   </label>
   
     <label class="item item-input">
      <span class="input-label">Fecha de regreso</span>
      <input type="date" name="fechareg" ng-model="persona[0].fechareg" required>
   </label>
   
   
   
   <label class="item item-input">
      <span class="input-label">Cuantas personas viajan:</span>
      <input type="number" name="personas" ng-model="persona[0].personas"  required>
   </label>
   
   <label class="item item-input">
      <span class="input-label">Costo Final</span>
      <input type="number" name="costo" ng-model="persona[0].costo" required>
   </label>
   </div>
   
   <div class="padding">
        <p ng-show="agregarForm.origen.$error.required">Escriba el lugar de origen</p>
        <p ng-show="agregarForm.destino.$error.required">Escriba el destino del viaje</p>
         <p ng-show="agregarForm.fechain.$error.required">Escriba la fecha de inicio</p>
          <p ng-show="agregarForm.fechareg.$error.required">Escriba la fecha de regreso</p>
          <p ng-show="agregarForm.personas.$error.required">Escriba el numero de personas que viajan</p>
        <p ng-show="agregarForm.costo.$error.required">Escriba el costo final del viaje</p>
        <p>{{ statusMessage }}</p>
    </div>
    
    <input type="hidden" name="id" ng-model="persona[0].id">
   
   <button type="button" class="button icon-left ion-compose button-positive" ng-disabled="agregarForm.$invalid" ng-click="guardar(persona[0])">
      Guardar
   </button>
   
   </form>
    
  </ion-content>
</ion-view>